<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>It is <%= dayOfWeek %></title>
    </head>

    <body>
        <h1>It is <%= dayOfWeek %>, <%= dayType %>.</h1>
        <p><%= advice %></p>
        
    </body>



</html>