solution*.*
goal*.*
solution*/
goal*/
example*.*
example*/
demo*.*
demo*/
node_modules/


# below are unique files that are part of solutions or demos that should not be publicly available.
Unit 8/Lesson 2/ 
